/*Код CSS отвечающий за весь 1-й Блок*/
.Block1{
    display: flex;
    width: 100%;
    height: 546px;
    justify-content: space-between;
    margin-bottom: 250px;
    align-items: center;
}
.ImgBlock1{
    background-image: url(../img/Reichstag.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    border-radius: 5%;
    width: 55%;
    height: 90%;
}
.TextAndButtonBlock1{
    width: 41.118%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.TextBlock1Father{
    width: 100%;
    height: 47.15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Text1Block1{
    width: 100%;
    height: 50%;
}
.Block1Text1{
margin-bottom: 20px;
font-size: 40px;
}
.Block1Text2{
margin-bottom: 0;
font-size: 26px;
}
.Text2Block1{
    width: 100%;
    height: 50%;
}
.RegOnConsultationButton1{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    margin-top: 100px;
}

.RegOnConsultationButton1:before {
    content: '';
    background: linear-gradient(to right, #A25532, #DB8C3D, #FFBC4D, #FDE56D, #FFBC4D, #DB8C3D, #A25532);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.RegOnConsultationButton1:active {
    color: white
}

.RegOnConsultationButton1:active:after {
    background: transparent;
}

.RegOnConsultationButton1:hover:before {
    opacity: 1;
}

.RegOnConsultationButton1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#DB8C3D;
    ;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.RegOnConsultationButton1.clicked {
    transform: scale(0.95);
    opacity: 0.9;
    transition: all 0.3s ease;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media (max-width: 768px) {
    .Block1 {
        flex-direction: column;
        height: auto;
        margin-bottom: 100px;
    }
    .TextInBlock1{
        margin-bottom: 0;
        font-size: 24px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .Text2Block1{
        margin-bottom: 50px;
    }
    
    .ImgBlock1 {
      display: none;
    }
    
    .TextAndButtonBlock1 {
        width: 100%;
    }
    .RegOnConsultationButton1{
        width: 80%;
        font-size: 20px;
    }
    .TextAndButtonBlock1{
        display: flex;
        align-items: center;
    }
}